<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>
  <body class="bg-login">
    <div class="container" >
        <div></div>
        <div class="card form-login">
            <div class="card-body">
                <div class="text-center">
                    <img src="./assets/images/Wallet.png" alt="" class="img-login">
                </div>
                <form action="/auth/login" method="POST">
                <div class="title-login text-center">
                    <p class="text-login">Đăng nhập</p>
                </div>
                 <div class="form-input">
                    <div class="mb-3">
                        <label  class="text-label">Email</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="Email address">
                      </div>
                      <div class="mb-3">
                        <label class="text-label">Password</label>
                        <input id="text" name="password" type="password" class="form-control"  placeholder="Password">
                      </div>
                      <div class="text-end">
                       <a class="unText" href="#"><p class="text-forgot">Forgot password</p></a>
                      </div>
                    
                        <button type="submit" title="login" class="btn btn-primary btn-width text-center" id="add-user-btn ">Login</button>
  
                      <div class="form-doHave text-center">
                        <p>Do you have an account ? <span><a class="sign-up unText" href="">Sign Up</a></span></p> 
                      </div>
                 </div> 
                </form>  
            </div>
        
          </div>
      </div>
      <div></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <!-- database -->
    <script src="https://www.gstatic.com/firebasejs/9.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.9.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.9.0/firebase-storage.js"></script>
  </body>
</html>
